<ion-view title="Alpine Flowers" id="page2">
  <ion-content padding="true" style="background: url(img/dCPD5jaQI2MH5BqVuQpW_King20of20the20Alps2.JPG) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <a ui-sref="tabsController.identificationFeatures()" id="alpineFlowers-button1" style="font-weight:500;font-size:15px;border-radius:15px 15px 15px 15px;" class="button button-calm button-block">ID by feature</a>
    <a ui-sref="tabsController.plantName()" id="alpineFlowers-button2" style="border-radius:15px 15px 15px 15px;" class="button button-calm button-block">a-z plant name</a>
    <button id="alpineFlowers-button3" style="border-radius:15px 15px 15px 15px;" class="button button-calm button-block">How to use</button>
    <a ui-sref="tabsController.botanicalTerms()" id="alpineFlowers-button4" style="border-radius:15px 15px 15px 15px;" class="button button-calm button-block">Botanical help</a>
  </ion-content>
</ion-view>