<ion-view title="Botanical Terms" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="botanicalTerms-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Annual</strong>: a plant completing its whole life cycle, from seed to flowering and fruiting, within the same year.</p>

      <p style="color:#000000;">Anther: the male, pollen-bearing part of the flower.</p>

      <p style="color:#000000;">Basal: referring to leaves forming from the base of the plant.</p>

      <p style="color:#000000;">Biennial: a plant which completes its life cycle within two years, usually forming leafy rosettes in the first year then flowers, fruits and dies in the second year.</p>

      <p style="color:#000000;">Bract: modified or specialised leaf usually situated at the base of a flower.</p>

      <p style="color:#000000;">Bulbil: small bulb formed in the place of a flower or leaf axil which breaks off to form a new plant.</p>

      <p style="color:#000000;">Calcareous: soil formed on calcium carbonate rich rocks such as limestone or chalk.</p>

      <p style="color:#000000;">Calyx: the collective term for the sepals. Typically forming a protective layer around a flower in bud.</p>

      <p style="color:#000000;">Carpel: the female reproductive organ of a flower.</p>

      <p style="color:#000000;">Catkin: a spike of tiny flowers, usually either male or female and often drooping.</p>

      <p style="color:#000000;">Cluster: a loose group of flowers.</p>

      <p style="color:#000000;">Composite: a collective name used to describe members of the Daisy family.</p>

      <p style="color:#000000;">Corolla: collective term for the petals of a flower.</p>

      <p style="color:#000000;">Cushion: a plant forming dense rounded tufts of often numerous, tight leaf rosettes.</p>

      <p style="color:#000000;">Filament: the stalk of a stamen.</p>

      <p style="color:#000000;">Floret: the individual, often small, flowers clustered up within a flowerhead.</p>

      <p style="color:#000000;">Flowerhead: refers to an often tightly grouped cluster of flowers, typically at the tip of a stem.</p>

      <p style="color:#000000;">Fringe: refers to the cut margin of a petal.</p>

      <p style="color:#000000;">Glandular hair: hair tipped with a gland, seen as a swelling or blob.</p>

      <p style="color:#000000;">Hip: the fruit of a rose.</p>

      <p style="color:#000000;">Hood: referring to the upper petals of certain flowers forming a 'hood-like' cap.</p>

      <p style="color:#000000;">Inflorescence: a group or cluster of flowers arranged as a structural unit.</p>

      <p style="color:#000000;">Keel: the lowest petal of a flower of the Pea family formed by the fusion of two petals and having a prominent 'keel-like' ridge along the join.</p>

      <p style="color:#000000;">Lance-shaped: a spear-shaped leaf, broadly oval and tapering to a point.</p>

      <p style="color:#000000;">Midrib: the central and often most prominent vein of a leaf.</p>

      <p style="color:#000000;">Net-veined: leaf veins forming an interlacing network.</p>

      <p style="color:#000000;">Palmate: leaves lobed and spreading outwards resembling fingers pointing away from the palm.</p>

      <p style="color:#000000;">Perennial: any plant living for more than two years, sometimes woody and flowering each year.</p>

      <p style="color:#000000;">Petal: the innermost floral leaves of a flower, usually brightly coloured.</p>

      <p style="color:#000000;">Pinnate: a leaf consisting of opposite pairs of leaflets along a central axis, with or without an end leaflet.</p>

      <p style="color:#000000;">Pinnately-lobed: a leaf with several pairs of shallow or deep lobes, but not distinct leaflets.</p>

      <p style="color:#000000;">Rosette: leaves arranged in a cluster, usually at the base of the stem, and radiating outwards.</p>

      <p style="color:#000000;">Runner: a slender, trailing stem producing roots and sometimes erect shoots at the nodes.</p>

      <p style="color:#000000;">Scale leaf: a reduced leaf, green, brown or colourless, occurring on the stem.</p>

      <p style="color:#000000;">Sepal: the outer ring of floral leaves of a flower, usually green but sometimes large, colourful and conspicuous.</p>

      <p style="color:#000000;">Species: a population of individuals sharing common features and ancestry and capable of interbreeding producing fertile offspring.</p>

      <p style="color:#000000;">Spike: a dense, elongated group of unstalked flowers, often pointed.</p>

      <p style="color:#000000;">Spur: a conical or tubular extension to a petal often containing nectar.</p>

      <p style="color:#000000;">Stamen: the male organ of a flower.</p>

      <p style="color:#000000;">Stigma: the pollen-receiving tip of a style.</p>

      <p style="color:#000000;">Stipule: a leaf-like appendage at the base of a leaf-stalk.</p>

      <p style="color:#000000;">Style: an elongated part of the carpel projecting from the ovary to the stigma.</p>

      <p style="color:#000000;">Tendril: a slender, twisting filament forming part of a leaf or stem enabling the plant to climb.</p>

      <p style="color:#000000;">Tepal: describes sepals and petals if they look alike.</p>

      <p style="color:#000000;">Toothed: regularly incised serrations along a leaf margin.</p>

      <p style="color:#000000;">Trifoliate: leaves with three distinct leaflets.</p>

      <p style="color:#000000;">Tufted: growing in dense clumps with short branches all arising at the same level.</p>

      <p style="color:#000000;">Two-lipped: referring to a corolla which is divided in a way that resemble two lips of an open mouth.</p>

      <p style="color:#000000;">Umbel: a flower cluster in which all stalks arise from a central point to give a flat-topped inflorescence.</p>

      <p style="color:#000000;">Whorl: a ring of leaves or flowers arising from a central point on a stem.</p>

      <p style="color:#000000;">Winged: a thin flange of tissue extending beyond the normal outline of the stem.</p>
    </div>
  </ion-content>
</ion-view>