<ion-view title="Contact us" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/RaLDusDQDiug9V6jcEi1_JimLangley2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="contactUs-button13" class="button button-positive button-block">Email me!</button>
    <a href-inappbrowser="www.natureswork.co.uk" id="contactUs-button14" class="button button-positive button-block">Website</a>
  </ion-content>
</ion-view>