<ion-view title="Identification features" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="identificationFeatures-form2" class="list">
      <label class="item item-select" id="identificationFeatures-select1">
        <span class="input-label">Flower colour</span>
        <select>
          <option>Blue</option>
          <option>Red</option>
          <option>Yellow</option>
          <option>White</option>
          <option>Green</option>
        </select>
      </label>
      <label class="item item-select" id="identificationFeatures-select2">
        <span class="input-label">Number of petals</span>
        <select>
          <option>4 or less</option>
          <option>5</option>
          <option>more than 5</option>
          <option>zygomorphic</option>
        </select>
      </label>
      <label class="item item-select" id="identificationFeatures-select4">
        <span class="input-label">Leaf arrangement</span>
        <select>
          <option>Opposite</option>
          <option>Alternate</option>
          <option>Basal rosette</option>
          <option>Whorls</option>
        </select>
      </label>
      <label class="item item-select" id="identificationFeatures-select5">
        <span class="input-label">Habitat</span>
        <select>
          <option>Meadow</option>
          <option>Woodland</option>
          <option>Wetland</option>
          <option>Rocky</option>
          <option>Scree</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>