<ion-view title="Identification features" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="identificationFeatures-button-bar1" class="button-bar">
      <button id="identificationFeatures-button9" class="button button-assertive button-block">Flower colour</button>
      <button id="identificationFeatures-button10" class="button button-energized button-block">Number Petals</button>
    </div>
    <div id="identificationFeatures-button-bar3" class="button-bar">
      <button id="identificationFeatures-button16" class="button button-balanced button-block">Leaf arrangement</button>
      <button id="identificationFeatures-button17" class="button button-royal button-block">Habitat</button>
    </div>
  </ion-content>
</ion-view>