<ion-view title="Plant name" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="plantName-form1" class="list">
      <label class="item item-input" id="plantName-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Species">
      </label>
      <label class="item item-input" id="plantName-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Family">
      </label>
    </form>
    <h1 id="plantName-heading7" style="color:#000000;">Index of species</h1>
  </ion-content>
</ion-view>